<!doctype html>
<html lang="kr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <title alt="사용자 관리">KoreanRe OCR Service - 사용자 관리</title>

    <%include  ../common/commonLib.html%>

    <!-- 공통 js -->
    <script type="text/javascript" src="js/common.client.js"></script>
    <!-- // 공통 js -->
    <!-- 문서 조회 학습 전용 js -->
    <script type="text/javascript" src="js/admin/userManagement.js"></script>
    <!-- // 문서 조회 전용 js -->

    <style>
        #ocrProgress {
            background-color: grey;
            position: absolute;
            top: 50%;
            left: 60%;
            background: #edf2f6;
            transform: translate(-50%, -50%);
            width: 420px;
            z-index: 1000;
            display: none
        }

        #progressMsg {
            width: 100%;
            height: 20px;
            background-color: #edf2f6;
            text-align: center;
        }

        #ocrBar {
            width: 1%;
            height: 30px;
            background-color: #9eaec5;
        }
    </style>
</head>
<body>
    <div id="wrap">
        <div id="ocrProgress">
            <div id="progressMsg"></div>
            <div id="ocrBar"></div>
        </div>
        <!-- skip navi -->
        <%include  ../common/header.html%>
        <!-- //skip navi -->
        <!-- Content -->
        <div id="container">
            <!-- LNB -->
            <%include  ../common/leftSideBar.html%>
            <!-- // LNB -->
            <!-- 본문영역 -->
            <div id="content">
                <h2 class="subtit subtit_st01 blind"><span>사용자관리</span></h2>

                <!-- 부서구분 목록  -->
                <div class="box_stsearch">
                    <h3 class="tits"><span>부서구분</span></h3>

                    <div class="box_txt_st01 st00_sh">
                        <dl>
                            <dd>
                                <div class="select_style wh300">
                                    <span class="ctrl"><span class="arrow"></span></span>
                                    <button type="button" class="myValue">부서구분</button>
                                    <ul class="aList">
                                        <li><a href="#none">글로벌사업팀</a></li>
                                    </ul>
                                </div>
                            </dd>
                        </dl>
                    </div>

                    <div class="btn_rt">
                        <button type="button" class="button_st3">조회</button>
                    </div>
                </div>
                <!-- // 부서구분 목록 -->
                <!-- 사용자관리 목록  -->
                <div class="box_stsearch titcolor01">
                    <h3 class="tits"><span>사용자관리</span></h3>

                    <div class="table_style02">
                        <table>
                            <caption>사용자관리 타이틀</caption>
                            <colgroup>
                                <col style="width:5%" />
                                <col style="width:12%" />
                                <col style="width:12%" />
                                <col style="width:22%" />
                                <col style="width:12%" />
                                <col style="width:12%" />
                                <col style="width:12%" />
                                <col style="width:13%" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="row">번호</th>
                                    <th scope="row">사번</th>
                                    <th scope="row">사원명</th>
                                    <th scope="row">비고</th>
                                    <th scope="row">스캔결재자</th>
                                    <th scope="row">중간결재자</th>
                                    <th scope="row">최종결재자</th>
                                    <th scope="row">상위결재자</th>
                                </tr>
                            </thead>
                        </table>
                        <div class="mCustomScrollbar box_scroll_st5" data-mcs-axis="yx" data-mcs-theme="dark-3">
                            <table>
                                <caption>사용자관리 정보</caption>
                                <colgroup>
                                    <col style="width:5%" />
                                    <col style="width:12%" />
                                    <col style="width:12%" />
                                    <col style="width:23%" />
                                    <col style="width:12%" />
                                    <col style="width:12%" />
                                    <col style="width:12%" />
                                    <col style="width:12%" />
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td><a href="#none" class="tip" title="사번:ICR201807">ICR201807</a></td>
                                        <td>Orent-Energy XOL</td>
                                        <td>20180701</td>
                                        <td>Y</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>G190267</td>
                                        <td>문소라</td>
                                        <td>20180701</td>
                                        <td></td>
                                        <td>Y</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>G190267</td>
                                        <td>이문세</td>
                                        <td>20180701</td>
                                        <td></td>
                                        <td>Y</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>K211207</td>
                                        <td>강문상</td>
                                        <td>20180701</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Y</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">5</th>
                                        <td>K211207</td>
                                        <td>강문상</td>
                                        <td>20180701</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Y</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">6</th>
                                        <td>K211207</td>
                                        <td>최창민</td>
                                        <td>20180701</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Y</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">7</th>
                                        <td>K211207</td>
                                        <td>강문상</td>
                                        <td>20180701</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Y</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">8</th>
                                        <td>K211207</td>
                                        <td>김이중</td>
                                        <td>20180701</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Y</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">9</th>
                                        <td>K211207</td>
                                        <td>강문상</td>
                                        <td>20180701</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Y</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">10</th>
                                        <td>K211207</td>
                                        <td>강문상</td>
                                        <td>20180701</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Y</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">11</th>
                                        <td>K211207</td>
                                        <td>강문상</td>
                                        <td>20180701</td>
                                        <td>Y</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">12</th>
                                        <td>K211207</td>
                                        <td>강문상</td>
                                        <td>20180701</td>
                                        <td>Y</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">13</th>
                                        <td>K211207</td>
                                        <td>강문상</td>
                                        <td>20180701</td>
                                        <td>Y</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">14</th>
                                        <td>K211207</td>
                                        <td>강문상</td>
                                        <td>20180701</td>
                                        <td>Y</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">15</th>
                                        <td>K211207</td>
                                        <td>강문상</td>
                                        <td>20180701</td>
                                        <td>Y</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">16</th>
                                        <td>K211207</td>
                                        <td>강문상</td>
                                        <td>20180701</td>
                                        <td>Y</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">17</th>
                                        <td>K211207</td>
                                        <td>강문상</td>
                                        <td>20180701</td>
                                        <td>Y</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">18</th>
                                        <td>K211207</td>
                                        <td>강문상</td>
                                        <td>20180701</td>
                                        <td>Y</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">19</th>
                                        <td>K211207</td>
                                        <td>강문상</td>
                                        <td>20180701</td>
                                        <td>Y</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- // 사용자관리 목록 -->
                <!-- 사용자관리 목록  -->
                <div class="box_stsearch titcolor01 mb0">
                    <h3 class="tits"><span>사용자관리</span></h3>

                    <div class="box_txt_st01 st00_us">
                        <dl>
                            <dt><label for="intxt_01">사번</label></dt>
                            <dd>
                                <input type="text" name="intxt_00" id="intxt_01" class="inputst_box01" value="ICR2018071000000123" disabled="disabled" />
                            </dd>
                        </dl>
                        <dl>
                            <dt><label for="intxt_02">사원명</label></dt>
                            <dd>
                                <input type="text" name="intxt_00" id="intxt_02" class="inputst_box01" value="루루루키" disabled="disabled" />
                            </dd>
                        </dl>
                        <dl>
                            <dt><label for="intxt_03">Password</label></dt>
                            <dd>
                                <input type="password" name="intxt_00" id="intxt_03" class="inputst_box01" value="201807" disabled="disabled" />
                            </dd>
                        </dl>
                        <dl>
                            <dt><label>상위결재자</label></dt>
                            <dd>
                                <div class="select_style w100">
                                    <span class="ctrl"><span class="arrow"></span></span>
                                    <button type="button" class="myValue">전 체</button>
                                    <ul class="aList">
                                        <li><a href="#none">김이최</a></li>
                                        <li><a href="#none">이소속</a></li>
                                    </ul>
                                </div>
                            </dd>
                        </dl>

                        <dl>
                            <dt><label for="">결재자</label></dt>
                            <dd>
                                <div class="checkbox-options">
                                    <input type="checkbox" value="2" id="st1" name="st1" /><label for="st1"><span>스캔결재자</span></label>
                                    <input type="checkbox" value="2" id="st2" name="st2" /><label for="st2"><span>중간결재자</span></label>
                                    <input type="checkbox" value="2" id="st3" name="st3" /><label for="st3"><span>최종결재자</span></label>
                                </div>
                            </dd>
                        </dl>
                    </div>

                    <div class="btn_rt">
                        <button type="button" class="button_st1">수정</button>
                    </div>
                </div>
                <!-- // 사용자관리 목록 -->

            </div>
            <!-- // 본문영역 -->

        </div>
    </div>
</body>
</html>