<!doctype html>
<html lang="kr" class="bg_login">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<title>코리안리 TIIZ OCR Service Web</title>
<link type="text/css" rel="stylesheet" href="../css/common.css" />
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../js/jquery-ui.js"></script>
</head>
<body  class="bg_login">

<!-- Login -->
<div class="box_basic01">
	<div class="login_top">
		<h1><span class="blind">TIIZ OCR Service Web</span></h1>
	</div>

	<div class="box_login">
		<div class="txt_login01">
			<dl>
				<dt><span class="blind">LOGIN</span></dt>
				<dd>로그인을 하셔서 TIIZ OCR Service Web의 서비스를 제공받으세요.</dd>
			</dl>
		</div>
		<div class="box_loginput">
			<div class="box_login_01">
				<dl>
					<dt>
						<ul>
							<li class="on"><div class="box_input"><label for="userId">사용자ID</label><input type="text" id="userId" name="userId" class="input_searchbox eng" value="" /></div></li>
							<li class="on"><div class="box_input"><label for="password">비밀번호</label><input type="password" id="password" name="password" maxlength="20" class="input_searchbox" autocomplete="off" value="" /></div></li>
						</ul>
					</dt>
					<dd><input type="button" class="btn_logingo" value="로그인" title="로그인" /></dd>
				</dl>
				<div class="txts_01 checkbox-options mt10"><input type="checkbox" value="1" id="st1" name="st1" /><label for="st1"><span>ID 저장하기</span></label></div>
			</div>
		</div>

	</div>
</div>
<!-- // Login -->


</body>
</html>