<!DOCTYPE html>
<html>
<head>
    <title alt="배치학습"> OCR Service Web - 배치 학습</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <%include  ../common/commonLib.html%>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- tui-grid css import-->
    <link rel="stylesheet" href="/common/css/fileupload/jquery.fileupload.css">
    <!-- tui-grid css import-->
    <!-- form submit aync & multi-upload js import -->
    <script type="text/javascript" src="js/import/fileupload/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="js/import/fileupload/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="js/import/fileupload/jquery.fileupload.js"></script>
    <script type="text/javascript" src="js/import/jquery.form.min.js"></script>
    <script type="text/javascript" src="js/common.client.js"></script>

    <!-- // form submit aync & multi-upload js import -->
    <!-- tui-grid js import-->
    <script src="js/import/toast-ui-grid/underscore/underscore.js"></script>
    <script src="js/import/toast-ui-grid/backbone/backbone.js"></script>
    <script src="js/import/toast-ui-grid/tui-code-snippet/dist/tui-code-snippet.js"></script>
    <script src="js/import/toast-ui-grid/tui-pagination/dist/tui-pagination.js"></script>
    <script src="js/import/toast-ui-grid/tui-date-picker/dist/tui-date-picker.js"></script>
    <script src="js/import/toast-ui-grid/tui-grid/dist/tui-grid.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="js/import/toast-ui-grid/tui-grid/dist/tui-grid.css" />-->
    <!-- // tui-grid js import-->
    <script type="text/javascript" src="js/user/batchLearning.js"></script>
    <style>
        #layerPopup {
            background-color: #fff;
            border: 1px solid red;
            position: absolute;
            bottom: 0%;
            width: 80%;
            height: 600px;
            z-index: 100;
            display: none
        }

        #layerPopup.closeButton {
            position: absolute;
            right: 95%;
            top: 0;
            border: 2px solid red;
            cursor: pointer
        }

        #ocrProgress {
            background-color: grey;
            position: absolute;
            top: 50%;
            left: 60%;
            background: #edf2f6;
            transform: translate(-50%, -50%);
            width: 420px;
            z-index: 1000;
            display: none
        }

        #progressMsg {
            width: 100%;
            height: 20px;
            background-color: #edf2f6;
            text-align: center;
        }

        #ocrBar {
            width: 1%;
            height: 30px;
            background-color: #9eaec5;
        }
    </style>
</head>
<body>
    <div id="wrap">
        <div id="ocrProgress">
            <div id="progressMsg"></div>
            <div id="ocrBar"></div>
        </div>
        <!-- skip navi -->
        <div id="accessibility">
            <ul>
                <li><a href="#lnb">메뉴 바로가기</a></li>
                <li><a href="#container">본문으로 바로가기</a></li>
            </ul>
        </div>
        <!-- //skip navi -->
        <%include  ../common/header.html%>
        <!-- Content -->
        <div id="container">
            <!-- LNB -->
            <%include  ../common/leftSideBar.html%>
            <!-- // LNB -->
            <!-- 본문영역 -->
            <div id="content">
                <h2 class="subtit subtit_st01">기본 LIST -  <span id="tab_title">학습미완료 보기</span></h2>
                <!-- TEP 상단영역 -->
                <div class="tep_tit">
                    <ul class="bt_tep">
                        <li class="on"><a href="#none" id="tab_before" class="btn_tep_01" title="Before Training">Before Training</a></li>
                        <li><a href="#none" class="btn_tep_02" id="tab_after" title="After Training">After Training</a></li>
                    </ul>
                    <!-- Looks like select box-->
                    <input type="hidden" id="select_view_count" value="20" />
                    <div class="select_style">
                        <span class="ctrl"><span class="arrow"></span></span>
                        <button type="button" class="myValue">선택하기</button>
                        <ul class="aList">
                            <li><a href="#none" onclick="javascript: selectViewCount(20)">행표시 : 20</a></li>
                            <li><a href="#none" onclick="javascript: selectViewCount(100)">행표시 : 100</a></li>
                            <li><a href="#none" onclick="javascript: selectViewCount(1000);">행표시 : 1000</a></li>
                        </ul>
                    </div>
                    <button type="button" id="btn_sync" class="button_st1 ml5 fl">Sync</button>
                    <!-- // Looks like select box-->
                    <form id="multiUploadForm" action="/batchLearning/multiUpload" method="post" enctype="multipart/form-data">
                        <div class="fr">
                            <p class="attach_btn fl"><input type="file" id="excel_file" name="excel_file" onchange="javascript:document.getElementById('fileSrch').value=this.value" /><label for="excel_file">Excel Upload</label></p>
                            <p class="attach_btn fl"><input type="file" name="file" id="document_file" onchange="javascript:document.getElementById('fileSrch').value=this.value" multiple /><label for="document_file">Document Upload</label></p>
                            <button type="button" id="btn_imageDelete" class="button_st5">Document Delete</button>
                            <button type="button" id="btn_batchTraining" class="button_st5">BATCH Training</button>
                            <button type="button" id="btn_uiTraining" class="button_st5">UI Training</button>
                        </div>
                    </form>
                </div>
                <!-- // TEP 상단영역 -->
                <!-- Before Training 영역 -->
                <div class="tep_content tep_st01">
                    <div class="tep_st">
                        <h3 class="blind"><span>Before Training</span></h3>

                        <div id="content-6" class="content horizontal-images">
                            <div class="table_style02">
                                <table class="">
                                    <caption id="list_caption">Before Training 파일 정보</caption>
                                    <colgroup>
                                        <col style="width:50px" />
                                        <col style="width:150px" />
                                        <col style="width:150px" />
                                        <col style="width:100px" />
                                        <col style="width:100px" />
                                        <col style="width:100px" />
                                        <col style="width:250px" />
                                        <col style="width:250px" />
                                        <col style="width:150px" />
                                        <col style="width:150px" />
                                        <col style="width:100px" />
                                        <col style="width:100px" />
                                        <col style="width:100px" />
                                        <col style="width:100px" />
                                        <col style="width:100px" />
                                        <col style="width:150px" />
                                        <col style="width:150px" />
                                        <col style="width:150px" />
                                        <col style="width:150px" />
                                        <col style="width:100px" />
                                        <col style="width:100px" />
                                        <col style="width:100px" />
                                        <col style="width:100px" />
                                        <col style="width:100px" />
                                        <col style="width:150px" />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="row"><div class="checkbox-options mauto"><input type="checkbox" value="" id="listCheckAll_before" name="listCheckAll_before" /></div></th>
                                            <th scope="row">이미지ID</th>
                                            <th scope="row">파일명</th>
                                            <th scope="row">학습여부</th>
                                            <th scope="row">페이지번호 FROM</th>
                                            <th scope="row">페이지번호 TO</th>
                                            <th scope="row">거래사명</th>
                                            <th scope="row">계약명</th>
                                            <th scope="row">보험개시일</th>
                                            <th scope="row">보험종료일</th>
                                            <th scope="row">화폐코드</th>
                                            <th scope="row">보험료</th>
                                            <th scope="row">일반수수료</th>
                                            <th scope="row">중개수수료</th>
                                            <th scope="row">세금</th>
                                            <th scope="row">보험금유보금적립액</th>
                                            <th scope="row">보험금유보금해제액</th>
                                            <th scope="row">보험금유보금적립액</th>
                                            <th scope="row">보험금유보금해제액</th>
                                            <th scope="row">보험금</th>
                                            <th scope="row">부대비</th>
                                            <th scope="row">손해조사비</th>
                                            <th scope="row">즉시불보험금(CASH)</th>
                                            <th scope="row">NET BALANCE</th>
                                            <th scope="row">Your Reference</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_batchList_before"></tbody>
                                </table>
                            </div>
                        </div>

                        <!-- 하단 정보 영역 -->
                        <div class="box_cotent_bottom mt10">
                            <span class="fl">총 <i id="total_cnt_before"></i>건의 학습중, <i id="choose_cnt_before">0</i>건이 선택됨</span>
                        </div>
                        <!-- // 하단 정보 영역 -->
                    </div>

                </div>
                <!-- Before Training 영역 -->
                <!-- After Training 영역 -->
                <div class="tep_content tep_st02" style="display:none">
                    <div class="tep_st">
                        <h3 class="blind"><span>After Training</span></h3>

                        <div id="content-7" class="content horizontal-images">
                            <div class="table_style02">
                                <table class="">
                                    <caption>After Training 파일 정보</caption>
                                    <colgroup>
                                        <col style="width:50px" />
                                        <col style="width:150px" />
                                        <col style="width:150px" />
                                        <col style="width:100px" />
                                        <col style="width:100px" />
                                        <col style="width:100px" />
                                        <col style="width:250px" />
                                        <col style="width:250px" />
                                        <col style="width:150px" />
                                        <col style="width:150px" />
                                        <col style="width:100px" />
                                        <col style="width:100px" />
                                        <col style="width:100px" />
                                        <col style="width:100px" />
                                        <col style="width:100px" />
                                        <col style="width:150px" />
                                        <col style="width:150px" />
                                        <col style="width:150px" />
                                        <col style="width:150px" />
                                        <col style="width:100px" />
                                        <col style="width:100px" />
                                        <col style="width:100px" />
                                        <col style="width:100px" />
                                        <col style="width:100px" />
                                        <col style="width:150px" />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="row"><div class="checkbox-options mauto"><input type="checkbox" value="" id="listCheckAll_after" name="listCheckAll_after" /></div></th>
                                            <th scope="row">이미지ID</th>
                                            <th scope="row">파일명</th>
                                            <th scope="row">학습여부</th>
                                            <th scope="row">페이지번호 FROM</th>
                                            <th scope="row">페이지번호 TO</th>
                                            <th scope="row">거래사명</th>
                                            <th scope="row">계약명</th>
                                            <th scope="row">보험개시일</th>
                                            <th scope="row">보험종료일</th>
                                            <th scope="row">화폐코드</th>
                                            <th scope="row">보험료</th>
                                            <th scope="row">일반수수료</th>
                                            <th scope="row">중개수수료</th>
                                            <th scope="row">세금</th>
                                            <th scope="row">보험금유보금적립액</th>
                                            <th scope="row">보험금유보금해제액</th>
                                            <th scope="row">보험금유보금적립액</th>
                                            <th scope="row">보험금유보금해제액</th>
                                            <th scope="row">보험금</th>
                                            <th scope="row">부대비</th>
                                            <th scope="row">손해조사비</th>
                                            <th scope="row">즉시불보험금(CASH)</th>
                                            <th scope="row">NET BALANCE</th>
                                            <th scope="row">Your Reference</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_batchList_after"></tbody>
                                </table>
                            </div>
                        </div>

                        <!-- 하단 정보 영역 -->
                        <div class="box_cotent_bottom mt10">
                            <span class="fl">총 <i id="total_cnt_after"></i>건의 학습중, <i id="choose_cnt_after">0</i>건이 선택됨</span>
                        </div>
                        <!-- // 하단 정보 영역 -->

                    </div>
                </div>
                <!-- After Training 영역 -->

                <script>
                    (function ($) {
                        $(window).on("load", function () {
                            $("#content-6").mCustomScrollbar({
                                axis: "x",
                                theme: "light-3",
                                advanced: { autoExpandHorizontalScroll: true }
                            });

                            $("#content-7").mCustomScrollbar({
                                axis: "x",
                                theme: "light-3",
                                advanced: { autoExpandHorizontalScroll: true }
                            });

                        });
                    })(jQuery);
                </script>
            </div>
            <!-- // 본문영역 -->
        </div>
        <!-- // Content -->
    </div>
</body>
</html>