<!doctype html>
<html lang="kr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <title alt="문서 조회">KoreanRe OCR Service - 문서 조회</title>

    <%include  ../common/commonLib.html%>

    <!-- 공통 js -->
    <script type="text/javascript" src="js/common.client.js"></script>
    <!-- // 공통 js -->
    <!-- 계산서 조회 학습 전용 js -->
    <script type="text/javascript" src="js/user/invoiceCheck.js"></script>
    <!-- // 계산서 조회 전용 js -->

    <script type="text/javascript">
        $(document).ready(function () {

            //datepicker 한국어로 사용하기 위한 언어설정
            $.datepicker.setDefaults($.datepicker.regional['ko']);

            // Datepicker
            $(".datepicker").datepicker({
                showButtonPanel: true,
                dateFormat: "yy-mm-dd",
                onClose: function (selectedDate) {

                    var eleId = $(this).attr("id");
                    var optionName = "";

                    if (eleId.indexOf("StartDate") > 0) {
                        eleId = eleId.replace("StartDate", "EndDate");
                        optionName = "minDate";
                    } else {
                        eleId = eleId.replace("EndDate", "StartDate");
                        optionName = "maxDate";
                    }

                    $("#" + eleId).datepicker("option", optionName, selectedDate);
                    $(".searchDate").find(".chkbox2").removeClass("on");
                }
            });

            //$(".dateclick").dateclick();		// DateClick
            $(".searchDate").schDate();	// searchDate

        });
    </script>
</head>
<body>  
    <div id="wrap">

        <!-- skip navi -->
        <%include  ../common/header.html%>
        <!-- //skip navi -->
        <!-- Content -->
        <div id="container">
            <!-- LNB -->
            <%include  ../common/leftSideBar.html%>
            <!-- // LNB -->
            <!-- 본문영역 -->
            <div id="content">
                <h2 class="subtit subtit_st01 blind"><span>계산서조회</span></h2>

                <!-- 조회조건 목록  -->
                <div class="box_stsearch">
                    <h3 class="tits"><span>조회조건</span></h3>

                    <div class="box_txt_st01 st00_sh">
                        <dl>
                            <dt><label for="intxt_01">문서번호</label></dt>
                            <dd>
                                <input type="text" name="intxt_00" id="intxt_01" class="inputst_box01" value="ICR2018071000000123" />
                            </dd>
                        </dl>
                        <dl>
                            <dt><label>소속팀</label></dt>
                            <dd>
                                <div class="select_style w100">
                                    <span class="ctrl"><span class="arrow"></span></span>
                                    <button type="button" class="myValue">전 체</button>
                                    <ul class="aList">
                                        <li><a href="#none">소속팀</a></li>
                                    </ul>
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt><label>소속파트</label></dt>
                            <dd>
                                <div class="select_style w100">
                                    <span class="ctrl"><span class="arrow"></span></span>
                                    <button type="button" class="myValue">전 체</button>
                                    <ul class="aList">
                                        <li><a href="#none">소속파트</a></li>
                                    </ul>
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt><label for="intxt_02">문서담당자</label></dt>
                            <dd>
                                <input type="text" name="intxt_00" id="intxt_02" class="inputst_box01" value="루루루키" />
                            </dd>
                        </dl>
                        <dl>
                            <dt><label for="intxt_03">마감년월</label></dt>
                            <dd>
                                <input type="text" name="intxt_00" id="intxt_03" class="inputst_box01" value="201807" />
                            </dd>
                        </dl>

                        <dl>
                            <dt><label>문서등록일자</label></dt>
                            <dd>
                                <div class="clearfix inputst_box01">
                                    <span class="dset">
                                        <input type="text" class="datepicker inpType" name="searchStartDate" id="searchStartDate" readonly />
                                        <a href="#none" class="btncalendar dateclick">달력</a>
                                    </span>
                                    <span class="demi">-</span>
                                    <span class="dset dset2">
                                        <input type="text" class="datepicker inpType" name="searchEndDate" id="searchEndDate" readonly />
                                        <a href="#none" class="btncalendar dateclick">달력</a>
                                    </span>
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt><label for="intxt_01">결제상태</label></dt>
                            <dd>
                                <div class="checkbox-options">
                                    <input type="checkbox" value="2" id="st1" name="st1" /><label for="st1"><span>진행</span></label>
                                    <input type="checkbox" value="2" id="st2" name="st2" /><label for="st2"><span>완료</span></label>
                                    <input type="checkbox" value="2" id="st3" name="st3" /><label for="st3"><span>반려</span></label>
                                </div>
                            </dd>
                        </dl>
                    </div>

                    <div class="btn_rt">
                        <button type="button" class="button_st3">조회</button>
                    </div>
                </div>
                <!-- // 조회조건 목록 -->

                <div class="box_content st_stsh">

                    <!-- 기본결재리스트 영역 -->
                    <div class="box_st03 box_st031 box_content_bg">
                        <h3 class="tits"><span>결재리스트(기본)</span></h3>

                        <div class="table_style02">
                            <table>
                                <caption>결재리스트(기본) 타이틀 정보</caption>
                                <colgroup>
                                    <col style="width:50px" />
                                    <col style="width:140px" />
                                    <col style="width:60px" />
                                    <col style="width:80px" />
                                    <col style="width:90px" />
                                    <col style="width:90px" />
                                    <col style="width:246px" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="row"><div class="checkbox-options mauto"><input type="checkbox" value="" id="sta00_all" name="st_ck01" /></div></th>
                                        <th scope="row">문서번호</th>
                                        <th scope="row">페이지수</th>
                                        <th scope="row">마감년월</th>
                                        <th scope="row">결제상신자</th>
                                        <th scope="row">문서담당자</th>
                                        <th scope="row">메모</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <div class="table_style02">
                            <div class="mCustomScrollbar box_scroll_st3" data-mcs-axis="yx" data-mcs-theme="dark-3">
                                <table class="">
                                    <caption>결재리스트(기본) 정보</caption>
                                    <colgroup>
                                        <col style="width:50px" />
                                        <col style="width:140px" />
                                        <col style="width:60px" />
                                        <col style="width:80px" />
                                        <col style="width:90px" />
                                        <col style="width:90px" />
                                        <col style="width:230px" />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th scope="row"><div class="checkbox-options mauto"><input type="checkbox" value="" id="sta01" class="sta00 stck_tr" name="st_ck01" /></div></th>
                                            <td>ICR2018071000000123</td>
                                            <td>27</td>
                                            <td>201807</td>
                                            <td>리키타츠너</td>
                                            <td>이라르</td>
                                            <td><label for="intxt_001" class="blind">메모1</label><input type="text" name="intxt_0" id="intxt_001" class="inputst_box01" value="" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><div class="checkbox-options mauto"><input type="checkbox" value="" id="sta02" class="sta00 stck_tr" name="st_ck01" /></div></th>
                                            <td>ICR2018071000000123</td>
                                            <td>27</td>
                                            <td>201807</td>
                                            <td>리키타츠너</td>
                                            <td>이라르</td>
                                            <td><label for="intxt_002" class="blind">메모1</label><input type="text" name="intxt_0" id="intxt_002" class="inputst_box01" value="" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><div class="checkbox-options mauto"><input type="checkbox" value="" id="sta03" class="sta00 stck_tr" name="st_ck01" /></div></th>
                                            <td>ICR2018071000000123</td>
                                            <td>27</td>
                                            <td>201807</td>
                                            <td>리키타츠너</td>
                                            <td>이라르</td>
                                            <td><label for="intxt_003" class="blind">메모3</label><input type="text" name="intxt_0" id="intxt_003" class="inputst_box01" value="" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><div class="checkbox-options mauto"><input type="checkbox" value="" id="sta04" class="sta00 stck_tr" name="st_ck01" /></div></th>
                                            <td>ICR2018071000000123</td>
                                            <td>27</td>
                                            <td>201807</td>
                                            <td>리키타츠너</td>
                                            <td>이라르</td>
                                            <td><label for="intxt_004" class="blind">메모4</label><input type="text" name="intxt_0" id="intxt_004" class="inputst_box01" value="" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><div class="checkbox-options mauto"><input type="checkbox" value="" id="sta05" class="sta00 stck_tr" name="st_ck01" /></div></th>
                                            <td>ICR2018071000000123</td>
                                            <td>27</td>
                                            <td>201807</td>
                                            <td>리키타츠너</td>
                                            <td>이라르</td>
                                            <td><label for="intxt_005" class="blind">메모5</label><input type="text" name="intxt_0" id="intxt_005" class="inputst_box01" value="" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><div class="checkbox-options mauto"><input type="checkbox" value="" id="sta06" class="sta00 stck_tr" name="st_ck01" /></div></th>
                                            <td>ICR2018071000000123</td>
                                            <td>27</td>
                                            <td>201807</td>
                                            <td>리키타츠너</td>
                                            <td>이라르</td>
                                            <td><label for="intxt_006" class="blind">메모6</label><input type="text" name="intxt_0" id="intxt_006" class="inputst_box01" value="" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><div class="checkbox-options mauto"><input type="checkbox" value="" id="sta01" class="sta00 stck_tr" name="st_ck01" /></div></th>
                                            <td>ICR2018071000000123</td>
                                            <td>27</td>
                                            <td>201807</td>
                                            <td>리키타츠너</td>
                                            <td>이라르</td>
                                            <td><label for="intxt_007" class="blind">메모7</label><input type="text" name="intxt_0" id="intxt_007" class="inputst_box01" value="" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><div class="checkbox-options mauto"><input type="checkbox" value="" id="sta07" class="sta00 stck_tr" name="st_ck01" /></div></th>
                                            <td>ICR2018071000000123</td>
                                            <td>27</td>
                                            <td>201807</td>
                                            <td>리키타츠너</td>
                                            <td>이라르</td>
                                            <td><label for="intxt_008" class="blind">메모8</label><input type="text" name="intxt_0" id="intxt_008" class="inputst_box01" value="" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- 버튼 영역 -->
                        <div class="fr mt10">
                            <button type="button" class="button_st1">승인</button>
                            <button type="button" class="button_st2">반려</button>
                            <button type="button" class="button_st2">전달</button>
                        </div>
                        <!-- // 버튼 영역 -->
                    </div>
                    <!-- // 기본결재리스트 영역 -->
                    <!--  상세결재리스트 영역 -->
                    <div class="box_st03 box_st031 box_content_bg">
                        <h3 class="tits"><span>결재리스트(상세)</span></h3>

                        <div class="table_style02">
                            <div class="mCustomScrollbar box_scroll_st4" data-mcs-axis="yx" data-mcs-theme="dark-3">
                                <table>
                                    <caption>최근 작업한 파일 정보</caption>
                                    <colgroup>
                                        <col style="width:150px" />
                                        <col style="width:180px" />
                                        <col style="width:180px" />
                                        <col style="width:120px" />
                                        <col style="width:120px" />
                                        <col style="width:120px" />
                                        <col style="width:120px" />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="row">페이지번호(from-to)</th>
                                            <th scope="row">계약번호</th>
                                            <th scope="row">계약명</th>
                                            <th scope="row">UY</th>
                                            <th scope="row">화페코드</th>
                                            <th scope="row">NET BALANCE</th>
                                            <th scope="row">IBNR</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1 ~ 4</th>
                                            <td><a href="#none" class="tip" title="1.여기는 말풍선 들어가는 샘플 항목입니다.">ICR2018071000000123</a></td>
                                            <td>Orent-Energy XOL</td>
                                            <td>2016</td>
                                            <td>EUR</td>
                                            <td>240.00</td>
                                            <td>0.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1 ~ 4</th>
                                            <td>ICR2018071000000123</td>
                                            <td>Orent-Energy XOL</td>
                                            <td>2016</td>
                                            <td>EUR</td>
                                            <td>240.00</td>
                                            <td>0.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1 ~ 4</th>
                                            <td>ICR2018071000000123</td>
                                            <td>Orent-Energy XOL</td>
                                            <td>2016</td>
                                            <td>EUR</td>
                                            <td>240.00</td>
                                            <td>0.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1 ~ 4</th>
                                            <td>ICR2018071000000123</td>
                                            <td>Orent-Energy XOL</td>
                                            <td>2016</td>
                                            <td>EUR</td>
                                            <td>240.00</td>
                                            <td>0.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1 ~ 4</th>
                                            <td>ICR2018071000000123</td>
                                            <td>Orent-Energy XOL</td>
                                            <td>2016</td>
                                            <td>EUR</td>
                                            <td>240.00</td>
                                            <td>0.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1 ~ 4</th>
                                            <td>ICR2018071000000123</td>
                                            <td>Orent-Energy XOL</td>
                                            <td>2016</td>
                                            <td>EUR</td>
                                            <td>240.00</td>
                                            <td>0.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1 ~ 4</th>
                                            <td>ICR2018071000000123</td>
                                            <td>Orent-Energy XOL</td>
                                            <td>2016</td>
                                            <td>EUR</td>
                                            <td>240.00</td>
                                            <td>0.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1 ~ 4</th>
                                            <td>ICR2018071000000123</td>
                                            <td>Orent-Energy XOL</td>
                                            <td>2016</td>
                                            <td>EUR</td>
                                            <td>240.00</td>
                                            <td>0.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1 ~ 4</th>
                                            <td>ICR2018071000000123</td>
                                            <td>Orent-Energy XOL</td>
                                            <td>2016</td>
                                            <td>EUR</td>
                                            <td>240.00</td>
                                            <td>0.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1 ~ 4</th>
                                            <td>ICR2018071000000123</td>
                                            <td>Orent-Energy XOL</td>
                                            <td>2016</td>
                                            <td>EUR</td>
                                            <td>240.00</td>
                                            <td>0.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1 ~ 4</th>
                                            <td>ICR2018071000000123</td>
                                            <td>Orent-Energy XOL</td>
                                            <td>2016</td>
                                            <td>EUR</td>
                                            <td>240.00</td>
                                            <td>0.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1 ~ 4</th>
                                            <td>ICR2018071000000123</td>
                                            <td>Orent-Energy XOL</td>
                                            <td>2016</td>
                                            <td>EUR</td>
                                            <td>240.00</td>
                                            <td>0.00</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1 ~ 4</th>
                                            <td>ICR2018071000000123</td>
                                            <td>Orent-Energy XOL</td>
                                            <td>2016</td>
                                            <td>EUR</td>
                                            <td>240.00</td>
                                            <td>0.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- // 상세결재리스트 영역 -->

                </div>

                <!-- 양식이미지 -->
                <div class="box_content box_content_bg st_stsh st_last">
                    <h3 class="tits"><span>양식이미지</span></h3>

                    <div class="imgtmb_b mCustomScrollbar" data-mcs-axis="yx" data-mcs-theme="dark-3">
                        <img src="publish/image/sample01.jpg" alt="샘플이미지" />
                    </div>

                    <div class="box_imgtmb">
                        <button type="button" class="button_control button_control1"><span class="blind">왼쪽이동</span></button>
                        <div id="touchSlider">
                            <ul>
                                <li class="on">
                                    <div class="box_img"><i><img src="publish/image/sample01.jpg" title="샘플이미지"></i></div>
                                    <span>Filename_Filename_0001.jpg</span>
                                </li>
                                <li>
                                    <div class="box_img"><i><img src="publish/image/sample01.jpg" title="샘플이미지"></i></div>
                                    <span>Filename_Filename_0001.jpg</span>
                                </li>
                                <li>
                                    <div class="box_img"><i><img src="publish/image/sample02.jpg" title="샘플이미지"></i></div>
                                    <span>Filename_Filename_0001.jpg</span>
                                </li>
                                <li>
                                    <div class="box_img"><i><img src="publish/image/sample01.jpg" title="샘플이미지"></i></div>
                                    <span>Filename_Filename_0001.jpg</span>
                                </li>
                                <li>
                                    <div class="box_img"><i><img src="publish/image/sample02.jpg" title="샘플이미지"></i></div>
                                    <span>Filename_Filename_0001.jpg</span>
                                </li>
                                <li>
                                    <div class="box_img"><i><img src="publish/image/sample01.jpg" title="샘플이미지"></i></div>
                                    <span>Filename_Filename_0001.jpg</span>
                                </li>
                                <li>
                                    <div class="box_img"><i><img src="publish/image/sample01.jpg" title="샘플이미지"></i></div>
                                    <span>@@Filename_Filename_0001.jpg</span>
                                </li>
                                <li>
                                    <div class="box_img"><i><img src="publish/image/sample01.jpg" title="샘플이미지"></i></div>
                                    <span>@@Filename_Filename_0001.jpg</span>
                                </li>
                                <li>
                                    <div class="box_img"><i><img src="publish/image/sample01.jpg" title="샘플이미지"></i></div>
                                    <span>@@Filename_Filename_0001.jpg</span>
                                </li>
                                <li>
                                    <div class="box_img"><i><img src="publish/image/sample02.jpg" title="샘플이미지"></i></div>
                                    <span>@@Filename_Filename_0001.jpg</span>
                                </li>
                                <li>
                                    <div class="box_img"><i><img src="publish/image/sample01.jpg" title="샘플이미지"></i></div>
                                    <span>@@Filename_Filename_0001.jpg</span>
                                </li>
                                <li>
                                    <div class="box_img"><i><img src="publish/image/sample01.jpg" title="샘플이미지"></i></div>
                                    <span>@@Filename_Filename_0001.jpg</span>
                                </li>
                            </ul>
                        </div>
                        <button type="button" class="button_control button_control2"><span class="blind">오른쪽이동</span></button>
                        <div id="count" class="count"><span>1</span> / 3</div>
                    </div>
                </div>
                <!-- // 양식이미지 -->

            </div>
            <!-- // 본문영역 -->

        </div>
        <!-- // Content -->

    </div>
</body>
</html>