<!doctype html>
<html lang="kr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <title alt="ICR관리">KoreanRe ICR Service - ICR관리</title>

    <%include  ../common/commonLib.html%>

    <link type="text/css" rel="stylesheet" href="css/user/invoiceProcessingStatus.css" />

    <!-- 공통 js -->
    <script type="text/javascript" src="js/common.client.js"></script>
    <!-- // 공통 js -->
    <!-- 문서 조회 학습 전용 js -->
    <script type="text/javascript" src="js/user/invoiceProcessingStatus.js"></script>
    <!-- // 문서 조회 전용 js -->

    <script type="text/javascript" src="/publish/js/chart/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="/publish/js/chart/utils.js"></script>

    <style>
        #ocrProgress {
            background-color: grey;
            position: absolute;
            top: 50%;
            left: 60%;
            background: #edf2f6;
            transform: translate(-50%, -50%);
            width: 420px;
            z-index: 1000;
            display: none
        }

        #progressMsgTitle {
            width: 100%;
            height: 20px;
            background-color: #edf2f6;
            text-align: center;
        }

        #ocrBar {
            width: 1%;
            height: 30px;
            background-color: #9eaec5;
        }
    </style>
</head>
<body>
    <div id="wrap">
        <div id="ocrProgress">
            <div id="progressMsgTitle"></div>
            <div id="ocrBar"></div>
        </div>
        <!-- skip navi -->
        <%include  ../common/header.html%>
        <!-- //skip navi -->
        <!-- Content -->
        <div id="container">
            <!-- LNB -->
            <%include  ../common/leftSideBar.html%>
            <!-- // LNB -->
            <!-- 본문영역 -->
            <div id="content">
                <h2 class="subtit subtit_st01 blind"><span>ICR관리</span></h2>

                <div class="content_title_icon_ips"></div>
                <div class="clear_both"></div>

                <div class="ips_content_sub">
                    <div class="ips_content_sub_top">
                        <div class="ips_line_graph">
                            <div class="ips_top_comment">
                                <span>일간 계산서 처리 현황</span>
                                <p>업데이트 시간 : <span><%=currentDate%></span></p>
                            </div>
                            <div class="ips_line_convas">
                                <canvas id="line"></canvas>
                            </div>
                        </div>
                        <div class="ips_tot_document_count">
                            <div class="ips_top_comment">
                            </div>
                            <div class="ips_box_document" style=" text-align: center; align-content: center;">
                                <div style="padding-top: 50px;">
                                    <div class="wait_doc_icon"></div>
                                    <span style="font-size: 35px; padding-right:50px;" id="wait_doc_count"></span>
                                    <div class="clear_both"></div><br /><br />
                                    <span class="doc_text" style="font-size: 25px;">대기중인 문서</span>
                                </div>
                            </div>
                            <div class="ips_box_last ips_box_document" style=" text-align: center; align-content: center;">
                                <div style="padding-top: 50px;">
                                    <div class="success_doc_icon"></div>
                                    <span style="font-size: 35px; padding-right:50px;" id="success_doc_count"></span>
                                    <div class="clear_both"></div><br /><br />
                                    <span class="doc_text" style="font-size: 25px;">완료된 문서</span>
                                </div>
                            </div>
                        </div>
                        <div class="ips_date">
                            <div class="ips_top_comment">
                                <span>일반처리건수</span>
                            </div>
                            <div class="ips_date_count">
                                <div class="ips_date_top">
                                    <div class="ips_date_year">
                                        <div id="year_up_btn" class="date_up_btn"></div>
                                        <div class="date_content">
                                            <div class="before_div"><p><span class="bottom_line">2017</span></p></div>
                                            <div class="main_div"><p>2018</p></div>
                                            <div class="after_div"><p><span class="top_line">2019</span></p></div>
                                        </div>
                                        <div id="year_down_btn" class="date_down_btn"></div>
                                    </div>
                                    <div class="ips_date_month">
                                        <div id="month_up_btn" class="date_up_btn"></div>
                                        <div class="date_content">
                                            <div class="before_div"><p><span class="bottom_line">9</span></p></div>
                                            <div class="main_div"><p>10</p><p style="font-size: 12px;">October</p></div>
                                            <div class="after_div"><p><span class="top_line">11</span></div>
                                        </div>
                                        <div id="month_down_btn" class="date_down_btn"></div>
                                    </div>
                                    <div class="ips_date_day">
                                        <div id="day_up_btn" class="date_up_btn"></div>
                                        <div class="date_content">
                                            <div class="before_div"><p><span class="bottom_line">22</span></p></div>
                                            <div class="main_div"><p>23</p><p style="font-size: 12px;">Tuesday</p></div>
                                            <div class="after_div"><p><span class="top_line">24</span></p></div>
                                        </div>
                                        <div id="day_down_btn" class="date_down_btn"></div>
                                    </div>
                                </div>
                                <div class="ips_date_bottom">
                                    <button id="roll_back_btn">Roll back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ips_content_sub_bottom">
                        <div class="ips_user_status">
                            <div class="ips_top_comment">
                                <span>사용자별 처리 현황</span>
                            </div>

                            <div class="table_style02 ips_user_table">
                                <table id="userProcessingStatus">
                                    <colgroup>
                                        <col style="width: 25%">
                                        <col style="width: 25%">
                                        <col style="width: 25%">
                                        <col style="width: 25%">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="row">사변</th>
                                            <th scope="row">문서수</th>
                                            <th scope="row">마감수</th>
                                            <th scope="row">마감률</th>
                                        </tr>
                                    </thead>
                                    <tbody class="ips_user_tbody">                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="ips_pie_graph">
                            <div class="ips_top_comment">
                                <span>출재사별 현황</span>
                                <p>업데이트 시간 : <span><%=currentDate%></span></p>
                            </div>
                            <div id="pie_convas">
                                <canvas id="pie"></canvas>
                            </div>
                        </div>
                        <div class="ips_bar_graph">
                            <div class="ips_top_comment">
                                <span>재학습률</span>
                                <p>업데이트 시간 : <span><%=currentDate%></span></p>
                            </div>
                            <div id="bar_convas">
                                <canvas id="bar"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // Content -->
        </div>
    </div>
</body>
</html>