<!doctype html>
<html lang="kr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <title alt="계산서 등록">KoreanRe ICR Service - 계산서 등록</title>
    <%include  ../common/commonLib.html%>

    <!-- 문서 조회 학습 전용 css -->
    <link rel="stylesheet" href="/css/user/invoiceRegistration.css">
    <!-- // 문서 조회 학습 전용 css -->
    <!-- file upload css -->
    <link rel="stylesheet" href="/common/css/fileupload/jquery.fileupload.css">
    <!-- // file upload css -->
    <link rel="stylesheet" href="css/dropdown.css">
    <link rel="stylesheet" href="css/editable-select.css">
    <link rel="stylesheet" href="/common/css/font-awesome.min.css">
    <!-- multiFileUpload & form async js -->
    <script type="text/javascript" src="js/import/fileupload/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="js/import/fileupload/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="js/import/fileupload/jquery.fileupload.js"></script>
    <script type="text/javascript" src="js/import/jquery.form.min.js"></script>
    <script type="text/javascript" src="js/import/jquery-editable-select.js"></script>
    <!-- // multiFileUpload & form async js -->
    <!-- 공통 js -->
    <script type="text/javascript" src="js/common.client.js"></script>
    <!-- // 공통 js -->
    <!-- 문서 조회 학습 전용 js -->
    <script type="text/javascript" src="js/user/invoiceRegistration.js"></script>
    <!-- // 문서 조회 전용 js -->
</head>
<body>
    <input type="hidden" id="userId" value="<%=currentUser.userId%>" />
    <input type="hidden" id="adminApproval" value="<%=currentUser.admin%>" />
    <input type="hidden" id="scanApporval" value="<%=currentUser.scanApproval%>" />
    <input type="hidden" id="icrApproval" value="<%=currentUser.icrApproval%>" />
    <input type="hidden" id="middleApproval" value="<%=currentUser.middleApproval%>" />
    <input type="hidden" id="lastApproval" value="<%=currentUser.lastApproval%>" />

    <div id="mask"></div>
    <div id="wrap">
        <!--로딩바-->
        <div id="ocrProgress">
            <div id="ocrBarBg">
                <div id="ocrBar">
                    <span>1%</span>
                </div>
            </div>
            <!-- 호출하는 ajax에 따라 로딩바 이벤트를 호출 할 때 아래 progressMsgTitle, progressMsgDetail 메시지도 수정-->
            <div id="progressMsgTitle">
                <!-- 로딩바 바로 아래 메시지 -->
            </div>
        </div>
        <!--로딩바-->
        <!-- skip navi -->
        <%include  ../common/header.html%>
        <!-- //skip navi -->
        <!-- Content -->
        <div id="container">
            <!-- LNB -->
            <%include  ../common/leftSideBar.html%>
            <!-- // LNB -->
            <!-- 본문영역 -->
            <div id="content">
                <div class="box_content st_stsh box_content_K01">
                    <!-- 양식이미지 업로드폼-->
                    <div id="uploadForm" class="box_content_T_01">
                        <div class="st_infortext_01">
                            <span id="uploadInfoText" class="invoiceR_uploadText">Drag & Drop files here</span>
                            <form id="uploadFileForm" action="/invoiceRegistration/uploadFile" method="post" enctype="multipart/form-data">
                                <p class="attach_btn attach_btn_k01">
                                    <%
                                    if(currentUser.scanApproval == 'Y') {
                                    %>
                                    <input type="file" id="uploadFile" name="file" value="upload" multiple />
                                    <label id="uploadFileBtn" for="customer_file" class="label_style_k01 btn_style_k01">계산서 업로드</label>
                                    <%
                                    } else {
                                    %>
                                    <input type="file" id="uploadFile" name="file" value="upload" multiple />
                                    <label id="uploadFileBtn" for="customer_file" class="label_style_k01 btn_style_k01">계산서 업로드</label>
                                    <%
                                    }
                                    %>
                                </p>
                            </form>
                        </div>
                    </div>
                    <!-- // 양식이미지 업로드폼-->
                    <!-- 조회조건 목록  -->
                    <div class="box_content_T_02">
                        <h3 class="tits titsK00"><span>조회조건</span></h3>
                        <div class="box_txt_st01 st00_sh">
                            <dl class="kDl01">
                                <dt>
                                    <label for="intxt_01">
                                        문서번호
                                    </label>
                                </dt>
                                <dd>
                                    <input type="text" name="docNum" id="docNum" class="inputst_box01" value="" />
                                </dd>
                            </dl>
                            <dl class="kDl02">
                                <dt><label for="intxt_02">문서담당자</label></dt>
                                <dd>
                                    <%
                                    if ( currentUser.scanApproval == 'Y' && currentUser.adminApproval == 'N' ) {
                                    %>
                                    <input type="text" name="documentManager" id="documentManager" class="inputst_box01" value="" placeholder="<%=currentUser.userId%>" />
                                    <%
                                    } else {
                                    %>
                                    <input type="text" name="documentManager" id="documentManager" class="inputst_box01" value="" placeholder="홍길동" />
                                    <%
                                    }
                                    %>
                                </dd>
                            </dl>
                            <dl class="kDl03">
                                <dt><label for="intxt_02"></label></dt>
                                <dd>
                                    <%
                                    if(currentUser.icrApproval == 'Y' || currentUser.scanApproval == 'Y') {
                                    %>
                                    <button type="button" id="btn_search" class="btn btn_style_k03" autofocus>조회</button>
                                    <%
                                    } else {
                                    %>
                                    <button type="button" id="btn_search" class="btn btn_style_k03" autofocus>조회</button>
                                    <%
                                    }
                                    %>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <!-- // 조회조건 목록 -->
                    <!-- 문서 기본정보 영역 -->
                    <div id="div_base" class="box_content_T_03 invocieR_div03" style="display:none">
                        <h3 class="tits titsK00"><span id="span_document_base">문서 기본정보</span></h3>
                        <table class="invoiceR_tblBackground" cellspacing="0">
                            <tr>
                                <td>
                                    <div class="table_style02">
                                        <div class="invoiceR_divHeadScroll">
                                            <table class="invoiceR_tblHead" border="0">
                                                <caption>결재리스트(기본) 타이틀 정보</caption>
                                                <colgroup>
                                                    <col style="width:50px" />
                                                    <col style="width:180px;" />
                                                    <col style="width:60px" />
                                                    <col style="width:100px" />
                                                    <col style="width:130px" />
                                                    <col style="width:130px" />
                                                    <col style="width:100px" />
                                                    <col style="width:200px" />
                                                    <col style="width:17px" />
                                                </colgroup>
                                                <thead>
                                                    <tr>
                                                        <th scope="row"><div class="checkbox-options mauto"><input type="checkbox" value="" id="docListAllChk" name="docListAllChk" /></div></th>
                                                        <th scope="row">문서번호</th>
                                                        <th scope="row">페이지수</th>
                                                        <th scope="row">문서담당자</th>
                                                        <th scope="row">소속부서</th>
                                                        <th scope="row">계약담당자</th>
                                                        <th scope="row">마감년월</th>
                                                        <th scope="row">MEMO</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="invoiceR_divBodyScroll divBodyScroll">
                                            <table class="invoiceR_tblBody" border="0">
                                                <colgroup>
                                                    <col style="width:50px" />
                                                    <col style="width:180px;" />
                                                    <col style="width:60px" />
                                                    <col style="width:100px" />
                                                    <col style="width:130px" />
                                                    <col style="width:130px" />
                                                    <col style="width:100px" />
                                                    <col style="width:200px" />
                                                </colgroup>
                                                <tbody id="tbody_baseList">

                                                    <!--<tr>
                                                        <th scope="row"><div class="checkbox-options mauto"><input type="checkbox" value="" id="" class="sta00 stck_tr" name="st_ck01" /></div></th>
                                                        <td>ICR2018071000000123</td>
                                                        <td>27</td>
                                                        <td>201807</td>
                                                        <td class="selectTd">
                                                            <div class="select_style select_style_K">
                                                                <input type="hidden" id="select_onesTeam" class="liSelectValue" value="" />
                                                                <span class="ctrl"><span class="arrow"></span></span>
                                                                <button type="button" class="myValue btnSelector">전 체</button>
                                                                <ul class="aList">
                                                                    <li class="select_li"><a>전체</a></li>
                                                                    <li class="select_li"><a>테스트파트X</a></li>
                                                                    <li class="select_li"><a>테스트파트Y</a></li>
                                                                    <li class="select_li"a>테스트파트Z</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td class="selectTd">
                                                            <div class="select_style select_style_K">
                                                                <input type="hidden" id="select_onesTeam" class="liSelectValue" value="" />
                                                                <span class="ctrl"><span class="arrow"></span></span>
                                                                <button type="button" class="myValue btnSelector">전 체</button>
                                                                <ul class="aList">
                                                                    <li class="select_li"><a>전체</a></li>
                                                                    <li class="select_li"><a>테스트파트X</a></li>
                                                                    <li class="select_li"><a>테스트파트Y</a></li>
                                                                    <li class="select_li"><a>테스트파트Z</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td class="selectTd">
                                                            <div class="select_style select_style_K">
                                                                <input type="hidden" id="select_onesTeam" class="liSelectValue" value="" />
                                                                <span class="ctrl"><span class="arrow"></span></span>
                                                                <button type="button" class="myValue btnSelector">전 체</button>
                                                                <ul class="aList">
                                                                    <li class="select_li"><a>전체</a></li>
                                                                    <li class="select_li"><a>테스트파트X</a></li>
                                                                    <li class="select_li"><a>테스트파트Y</a></li>
                                                                    <li class="select_li"><a>테스트파트Z</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td><label for="intxt_001" class="blind">마감년월</label><input type="text" name="" id="" class="inputst_box01" value="" /></td>
                                                        <td><label for="intxt_001" class="blind">메모1</label><input type="text" name="" id="" class="inputst_box01" value="" /></td>
                                                    </tr>-->

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <!-- 버튼 영역 -->
                        <div class="fr mt10">
                            <button type="button" id="sendDocBtn" class="btn btn_style_k01">전달</button>
                            <button type="button" id="deleteDocBtn" class="btn btn_style_k02">삭제</button>
                            <!--<button type="button" id="" class="button_st1">저장</button>-->
                        </div>
                        <!-- // 버튼 영역 -->
                    </div>
                    <!-- // 문서 기본정보 영역 -->
                </div>
                <!-- 양식이미지 -->
                <div id="div_image" class="box_content box_content_bg st_stsh st_last box_content_bg_K01" style="display: none;">
                    <h3 class="tits"><span>양식이미지</span></h3>
                    <div id="div_invoice_view_image" class="imgtmb_b mCustomScrollbar" data-mcs-axis="yx" data-mcs-theme="dark-3" style="width:auto">
                        <!--<img src="publish/image/sample01.jpg" alt="샘플이미지" />-->
                        <img id="main_image" src="" />
                    </div>
                    <div class="box_imgtmb">
                        <button type="button" id="thumb-prev" class="button_control button_control1"><span class="blind">왼쪽이동</span></button>
                        <div id="touchSlider">
                            <ul id="ul_image" class="invoiceR_thumbImg">
                                <!--
                                <li class="on">
                                    <div class="box_img"><i><img src="publish/image/sample02.jpg" title="샘플이미지"></i></div>
                                    <span>sample02.png</span>
                                </li>
                                -->
                            </ul>
                        </div>
                        <button type="button" id="thumb-next" class="button_control button_control2"><span class="blind">오른쪽이동</span></button>
                        <div id="count" class="count"><!--<span>1</span> / 1--></div>
                    </div>
                </div>
                <!-- // 양식이미지 -->
                <!-- 인식결과 영역 -->
                <div id="div_dtl" class="box_content_T_05" style="display:none">
                    <h3 class="tits titsK00"><span id="span_document_dtl">인식 결과</span></h3>
                    <table class="invoiceR_tblBackground2">
                        <tr>
                            <td>
                                <div class="table_style02">
                                    <div class="invoiceR_divHeadScroll2">
                                        <table class="invoiceR_tblHead2" border="0">
                                            <colgroup>
                                                <col style="width:50px" />
                                                <col style="width:150px" />
                                                <col style="width:270px" />
                                                <col style="width:270px" />
                                                <col style="width:130px" />
                                                <col style="width:150px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:170px" />
                                                <col style="width:170px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:150px" />
                                                <col style="width:165px" />
                                                <col style="width:25px" />
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th scope="row"><div class="checkbox-options mauto"><input type="checkbox" value="" id="ocrResultAllChk" name="ocrResultAllChk" /></div></th>
                                                    <th scope="row">계산서구분</th>
                                                    <th scope="row">출재사명</th>
                                                    <th scope="row">계약명</th>
                                                    <th scope="row">UY</th>
                                                    <th scope="row">계약번호</th>
                                                    <th scope="row">페이지번호<br />FROM</th>
                                                    <th scope="row">페이지번호<br />TO</th>
                                                    <th scope="row">SA TERM</th>
                                                    <th scope="row">화폐코드</th>
                                                    <th scope="row">화폐단위</th>
                                                    <th scope="row">PAID<br />(100%)</th>
                                                    <th scope="row">PAID<br />(Our Share)</th>
                                                    <th scope="row">OSL<br />(100%)</th>
                                                    <th scope="row">OSL<br />(Our Share)</th>
                                                    <th scope="row">사고번호</th>
                                                    <th scope="row">LOSS OF DATE</th>
                                                    <th scope="row">PREMIUM</th>
                                                    <th scope="row">PREMIUM P/F ENT</th>
                                                    <th scope="row">PREMIUM P/F WOS</th>
                                                    <th scope="row">XOL PREMIUM</th>
                                                    <th scope="row">RETURN PREMIUM</th>
                                                    <th scope="row">COMMISSION</th>
                                                    <th scope="row">PROFIT COMMISSION</th>
                                                    <th scope="row">BROKERAGE</th>
                                                    <th scope="row">TAX</th>
                                                    <th scope="row">OVERRIDING COM</th>
                                                    <th scope="row">CHARGE</th>
                                                    <th scope="row">PREMUIM RESERVE RTD</th>
                                                    <th scope="row">P/F PREMIUM RESERVE RTD</th>
                                                    <th scope="row">PREMIUM RESERVE RLD</th>
                                                    <th scope="row">P/F PREMIUM RESERVE RLD</th>
                                                    <th scope="row">CLAIM</th>
                                                    <th scope="row">LOSS RECOVERY</th>
                                                    <th scope="row">CASH LOSS</th>
                                                    <th scope="row">CASH LOSS REFUND</th>
                                                    <th scope="row">LOSS RESERVE RTD</th>
                                                    <th scope="row">LOSS RESERVE RLD</th>
                                                    <th scope="row">LOSS P/F ENT</th>
                                                    <th scope="row">LOSS P/F WOA</th>
                                                    <th scope="row">INTEREST</th>
                                                    <th scope="row">TAX ON</th>
                                                    <th scope="row">MISCELLANEOUS</th>
                                                    <th scope="row">Your Refernece</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="invoiceR_divBodyScroll2 divBodyScroll">
                                        <table class="invoiceR_tblBody2" border="0">
                                            <colgroup>
                                                <col style="width:50px" />
                                                <col style="width:150px" />
                                                <col style="width:270px" />
                                                <col style="width:270px" />
                                                <col style="width:130px" />
                                                <col style="width:150px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:170px" />
                                                <col style="width:170px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:130px" />
                                                <col style="width:150px" />
                                            </colgroup>
                                            <tbody id="tbody_dtlList">     
                                                <!--
                                                <tr>
                                                    <th scope="row"><div class="checkbox-options mauto"><input type="checkbox" value="" id="sta01" class="sta00 stck_tr" name="st_ck01" /></div></th>
                                                    <td>ICR2018071000000123</td>
                                                    <td>27</td>
                                                    <td>201807</td>
                                                    <td>리키타츠너</td>
                                                    <td>이라르</td>
                                                    <td>이라르</td>
                                                    <td>이라르</td>
                                                    <td>이라르</td>
                                                    <td>ICR2018071000000123</td>
                                                    <td>27</td>
                                                    <td>201807</td>
                                                    <td>리키타츠너</td>
                                                    <td>이라르</td>
                                                    <td>이라르</td>
                                                    <td>이라르</td>
                                                    <td>이라르</td>
                                                    <td>이라르</td>
                                                    <td>ICR2018071000000123</td>
                                                    <td>27</td>
                                                    <td>201807</td>
                                                    <td>리키타츠너</td>
                                                    <td>이라르</td>
                                                    <td>이라르</td>
                                                    <td>이라르</td>
                                                    <td>이라르</td>
                                                    <td>ICR2018071000000123</td>
                                                    <td>27</td>
                                                    <td>201807</td>
                                                    <td>리키타츠너</td>
                                                    <td>이라르</td>
                                                    <td>이라르</td>
                                                    <td>이라르</td>
                                                    <td>이라르</td>
                                                    <td>ICR2018071000000123</td>
                                                    <td>27</td>
                                                    <td>201807</td>
                                                    <td>리키타츠너</td>
                                                    <td>이라르</td>
                                                    <td>이라르</td>
                                                    <td>이라르</td>
                                                    <td>이라르</td>
                                                    <td>이라르</td>
                                                    <td>이라르</td>
                                                    <td>이라르</td>
                                                </tr>  
                                                 -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <!-- 버튼 영역 -->
                    <div class="mt10 fl">
                        <button type="button" id="copyRow" class="btn btn_style_k03 btn_small">행 복사</button>
                        <button type="button" id="addRow" class="btn btn_style_k03 btn_small">행 추가</button>
                        <button type="button" id="deleteRow" class="btn btn_style_k03 btn_small">행 삭제</button>
                    </div>
                    <div class="mt10 fr">
                        <button type="button" id="ctnExtractionBtn" class="btn btn_style_k03 btnK01" disabled>계약번호 추출</button>
                        <button type="button" id="reTrainBtn" class="btn btn_style_k03 btnK01" disabled>재학습</button>
                        <button type="button" id="sendApprovalBtn" class="btn btn_style_k03 btnK01" disabled>결재상신</button>
                    </div>
                    <!-- // 버튼 영역 -->
                </div>
                <!-- // 기본결재리스트 영역 -->
            </div>
            <!-- // Content -->
        </div>
    </div>

    <!-- Ui 재학습 Popup-->
    <div id="layer2" class="poplayer batch_pop2">
        <input type="hidden" name="popupDocNum" />
        <div class="bg"></div>
        <div class="pop_layer">
            <div class="pop_popup0" style="width:1860px">
                <div class="pop_header">
                    <h1>수동 레이어 팝업</h1>
                </div>
                <div class="pop_content">
                    <div class="box_content_L st_last">
                        <h3 class="layer2_tits">
                            <span class="layer2_tits_span">양식이미지</span>
                        </h3>
                        <!--<div class="imgName">
                            <span id="imgNameTag"></span>
                        </div>-->
                        <div class="box_content_bg">

                            <div class="imgtmb_b mCustomScrollbar" data-mcs-axis="yx" data-mcs-theme="dark-3">
                                <div id="img_content">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 양식분석상세 -->
                    <div class="box_content_R st_last">
                        <div class="box_content_bg">
                            <div class="title">
                                <h3 class="tits">
                                    <span class="mr10">
                                        문서 양식 예측<b id="docName" class="mr5"></b><b id="docPredictionScore"></b>
                                    </span>
                                </h3>
                                <button type="button" id="docCompareBtn" class="tits11_btn01"></button>
                                <div class="fr">
                                    <button type="button" id="uiTrainBtn" class="btn btn_style_k01">UI Training</button>
                                </div>
                            </div>
                            <div class="mCustomScrollbar box_scroll_st99" data-mcs-theme="dark-3">
                                <input type="hidden" id="resultJson" />
                                <div class="table_style02">
                                    <table>
                                        <caption>양식 분석 상세 정보</caption>
                                        <colgroup>
                                            <col style="width:65%" />
                                            <col style="width:35%" />
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th scope="row">추출 텍스트</th>
                                                <th scope="row">DB 컬럼</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <div id="textResultTbl" class="box_table_st box_table_st04">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- // 양식분석상세 -->
                </div>
                <div class="pop_footer">
                    <button type="button" id="btn_pop_ui_close" class="btn btn_style_k03 cbtn">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- //Ui 재학습 Popup-->
    <!-- 팝업_문서비교레이어팝업 -->
    <div id="layer3" class="poplayer">
        <input type="hidden" id="ocrData" />
        <input type="hidden" id="docSid" />
        <input type="hidden" id="docType" />
        <input type="hidden" id="docPopImgPath" />
        <div class="bg"></div>
        <div class="pop_layer">
            <div class="pop_popup0 doc_popup">
                <div class="pop_header">
                    <h1>문서 양식 조회 및 저장</h1>
                </div>
                <div class="tits22">
                    <div class="inputst_role">
                        <input type="radio" id="orgDocSearchRadio" value="1" class="custom" name="radio_batch" checked="checked" />
                        <label for="orgDocSearchRadio">기존문서 양식조회</label>
                        <input type="radio" id="newDocRegistrationRadio" value="2" class="custom" name="radio_batch" />
                        <label for="newDocRegistrationRadio">신규문서 양식등록</label>
                        <input type="radio" id="notInvoiceRadio" value="3" class="custom" name="radio_batch" />
                        <label for="notInvoiceRadio">계산서 아님</label>
                    </div>
                    <input type="text" name="orgDocName" id="orgDocName" class="inputst_box01 ui_doc_pop_ipt" value="" disabled />
                    <input type="text" name="newDocName" id="newDocName" class="inputst_box01 ui_doc_pop_ipt" value="" placeholder="신규문서명을 입력해 주세요" style="display:none" />
                    <input type="text" name="notInvoice" id="notInvoice" class="inputst_box01 ui_doc_pop_ipt" value="NotInvoice" placeholder="NotInvoice" disabled style="display:none" />
                    <button type="button" id="btn_pop_doc_cancel" class="btn btn_style_k03 cbtn">취 소</button>
                    <button type="button" id="btn_pop_doc_run" class="btn btn_style_k01 ml5">저장</button>
                </div>
                <div class="pop_content">
                    <div class="ui_doc_pop_div fl">
                        <div class="table_style03">
                            <table class="ui_layer1_tblHead" border="0">
                                <colgroup>
                                    <col style="width: 10%;" />
                                    <col style="width: 90%;" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="allCheckClassifySentenses"></th>
                                        <th>분류 제외문장</th>
                                    </tr>
                                </thead>
                            </table>
                            <div class="mCustomScrollbar box_scroll_st101">
                                <table class="ui_layer1_tbl_body">
                                    <colgroup>
                                        <col style="width: 10%;" />
                                        <col style="width: 90%;" />
                                    </colgroup>
                                    <tbody id="ui_layer1_result"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="ui_doc_pop_div fl center">
                        <div class="ui_doc_pop_div00">
                            <div class="ui_doc_pop_div01">
                                <span>머신러닝 예측 문서</span>
                                <input type="text" id="mlPredictionDocName" disabled="disabled">
                            </div>
                            <div class="ui_doc_pop_div01">
                                <span>정확도</span>
                                <input type="text" id="mlPredictionPercent" disabled="disabled">
                            </div>
                        </div>
                        <div id="originImgDiv" class="imgbox">

                        </div>
                        <!--<button type="button" id="ocrResultImg_thumbPrev" class="button_control10 button_control13"><span class="blind">왼쪽이동</span></button>
                            <button type="button" id="ocrResultImg_thumbNext" class="button_control10 button_control14"><span class="blind">오른쪽이동</span></button>-->
                    </div>
                    <div class="ui_doc_pop_div fr">
                        <div class="ui_doc_pop_div00">
                            <div class="ui_doc_pop_div01">
                                <label class="searchIcon"></label>
                                <input type="text" id="searchDocCategoryKeyword" class="ipt83" placeholder="검색할 단어를 입력해 주세요">
                                <button type="button" id="searchDocCategoryBtn" class="btn btn_style_k03 ml5">검색</button>
                            </div>
                            <div class="ui_doc_pop_div01">
                                <input type="text" id="searchResultDocName" disabled="disabled">
                            </div>
                        </div>
                        <div id="docSearchResult" class="imgbox">

                        </div>
                        <button type="button" id="docSearchResultImg_thumbPrev" class="button_control10 button_control11" disabled="disabled"><span class="blind">왼쪽이동</span></button>
                        <button type="button" id="docSearchResultImg_thumbNext" class="button_control10 button_control12" disabled="disabled"><span class="blind">오른쪽이동</span></button>
                        <div id="docSearchResultImg_thumbCount" class="docSearchResultImg_count"><span id="countCurrent">1</span><span> / </span><span id="countLast"></span></div>
                        <div id="docSearchResultMask"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // 팝업_문서비교레이어팝업 -->
    <!-- 팝업_유저찾기팝업 -->
    <div id="searchUserPop" class="poplayer">
        <input type="hidden" id="docPopImgPath" />
        <input type="hidden" id="docPopImgId" />
        <input type="hidden" id="batchListRowNum" />
        <div class="bg"></div>
        <div class="pop_layer">
            <div class="pop_popup0 icr_popup">
                <div class="pop_header">
                    <h1>ICR유저 찾기</h1>
                </div>
                <div class="pop_content">
                    <div class="box_txt_st01 st00_sh mb20 box_txt_K01">
                        <dl class="invoice_Dl_01">
                            <dt>
                                <label for="intxt_01">
                                    검색조건
                                </label>
                            </dt>
                            <dd>
                                <input type="checkbox" id="docManagerChk" class="ez_chk_k01" name="docManagerChk" />
                                <label class="label_k01 mr5" for="docManagerChk">문서담당자</label>
                                <input type="checkbox" id="icrManagerChk" class="ez_chk_k01" name="icrManagerChk" />
                                <label class="label_k01 mr5" for="icrManagerChk">ICR담당자</label>
                                <input type="checkbox" id="middleManagerChk" class="ez_chk_k01" name="middleManagerChk" />
                                <label class="label_k01 mr5" for="middleManagerChk">중간담당자</label>
                                <input type="checkbox" id="approvalManagerChk" class="ez_chk_k01" name="approvalManagerChk" />
                                <label class="label_k01 mr5" for="approvalManagerChk">결재담당자</label>
                            </dd>
                        </dl>
                    </div>

                    <div class="box_txt_st01 st00_sh mb20 box_txt_K02">
                        <dl class="invoice_Dl_05 invoice_Dl_K02" style="margin-right:30px;">
                            <dt><label for="intxt_02"></label></dt>
                            <dd>
                                <button type="button" id="btn_pop_user_search" class="btn btn_style_k03">검색</button>
                            </dd>
                        </dl>
                        <dl class="invoice_Dl_03 invoice_Dl_K02">
                            <dt><label for="intxt_02">소속부서</label></dt>
                            <dd>
                                <div class="select_style select_style_K01">
                                    <input type="hidden" id="select_team" value="모든부서" />
                                    <span class="ctrl"><span class="arrow"></span></span>
                                    <button type="button" class="myValue btnSelector">모든부서</button>
                                    <ul id="teamList" class="aList">
                                        <li><a>모든부서</a></li>
                                        <!--<li><a onclick="liSelect(this, '소속팀1')">소속팀1</a></li>-->
                                    </ul>
                                </div>
                            </dd>
                        </dl>
                        <dl class="invoice_Dl_02 invoice_Dl_K02">
                            <dt>
                                <label for="intxt_01">
                                    이름
                                </label>
                            </dt>
                            <dd>
                                <input type="text" name="searchManger" id="searchManger" class="inputst_box01" value="" />
                            </dd>
                        </dl>
                    </div>

                    <div class="table_style03">
                        <table>
                            <thead>
                                <tr>
                                    <th>사번</th>
                                    <th>이름</th>
                                    <th>소속부서</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table_style03 searchManagerResultDiv">
                        <table>
                            <tbody id="searchManagerResult"></tbody>
                        </table>
                    </div>
                </div>
                <div class="pop_footer">
                    <button type="button" id="btn_pop_doc_cancel" class="btn btn_style_k03 cbtn">닫기</button>
                    <button type="button" id="btn_pop_user_choice" class="btn btn_style_k01 ml5">선택</button>
                </div>
            </div>
        </div>
    </div>
    <!-- // 팝업_유저찾기팝업 -->

    <script type="text/javascript">
        //layer_open('searchUserPop');
    </script>
</body>
</html>