<!doctype html>
<html lang="kr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <title alt="UI학습">KoreanRe OCR Service - UI학습</title>

    <%include  ../common/commonLib.html%>

    <!-- file upload css -->
    <link rel="stylesheet" href="/common/css/fileupload/jquery.fileupload.css">
    <!-- // file upload css -->

    <link rel="stylesheet" href="css/user/uiLearning.css">
    <link rel="stylesheet" href="css/dropdown.css">

    <!-- multiFileUpload & form async js -->
    <script type="text/javascript" src="js/import/fileupload/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="js/import/fileupload/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="js/import/fileupload/jquery.fileupload.js"></script>
    <script type="text/javascript" src="js/import/jquery.form.min.js"></script>
    <!-- // multiFileUpload & form async js -->

    <!-- 공통 js -->
    <script type="text/javascript" src="js/common.client.js"></script>
    <!-- // 공통 js -->

    <!-- UI 학습 전용 js -->
    <script type="text/javascript" src="js/user/uiLearning.js"></script>
    <!-- // UI 학습 전용 js -->
</head>
<body>
    <div id="wrap">
        <!-- skip navi -->
        <div id="accessibility">
            <ul>
                <li><a href="#lnb">메뉴 바로가기</a></li>
                <li><a href="#container">본문으로 바로가기</a></li>
            </ul>
        </div>
        <!-- //skip navi -->
        <%include  ../common/header.html%>
        <!-- Content -->
        <div id="container">
            <!-- LNB -->
            <%include  ../common/leftSideBar.html%>
            <!-- // LNB -->
            <!-- 본문영역 -->
            <div id="content">
                <h2 class="subtit subtit_st01 blind"><span>청약서입력</span></h2>
                <div class="box_content box_st04">
                    <!-- 썸네일 이미지 영역 -->
                    <div class="box_st041">
                        <div class="box_imgtmb" style="height:98%;">
                            <ul id="imageBox"></ul>
                        </div>
                        <div class="box_imgtmbcontrol" style="height:2%;">
                            <button type="button" id="thumb-prev" class="button_control button_control1"><span class="blind">왼쪽이동</span></button>
                            <button type="button" id="thumb-next" class="button_control button_control2"><span class="blind">오른쪽이동</span></button>
                            <button type="button" id="thumb-tot" class="button_control button_control3">전체</button>
                        </div>
                    </div>
                    <!-- // 썸네일 이미지 영역 -->
                    <!-- 메인 이미지 영역 -->
                    <div class="box_st042">
                        <h3><span>양식이미지</span></h3>
                        <div id="img_content">
                            <div class="st_infortext_01">
                                <span id="uploadInfoText">파일을 드래그 하시거나 아래 버튼을 눌러 파일을 <br />업로드 해주세요.</span>
                                <form id="uploadFileForm" action="/uiLearning/uploadFile" method="post" enctype="multipart/form-data">
                                    <p class="attach_btn">
                                        <input type="file" id="uploadFile" name="file" value="upload" />
                                        <label id="uploadFileBtn" for="customer_file">업로드</label>
                                    </p>
                                </form>
                                <div id="ocrProgress">
                                    <div id="ocrBar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- // 메인 이미지 영역 -->
                </div>
                <div class="box_content box_st05 box_stlast">
                    <h3 class="tits"><span>양식 분석 상세</span></h3>
                    <div class="mCustomScrollbar box_scroll_st6" data-mcs-theme="dark-3">
                        <!-- 상세 정보 테이블 영역 -->
                        <div class="table_style02">
                            <table>
                                <caption>양식 분석 상세 정보</caption>
                                <colgroup>
                                    <col style="width:50%" />
                                    <col style="width:50%" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="row">추출 텍스트</th>
                                        <th scope="row">DB 컬럼</th>
                                    </tr>
                                </thead>
                            </table>
                            <div id="textResultTbl" class="box_table_st box_table_st04">
                                <dl>
                                    <dt></dt>
                                    <dd></dd>
                                </dl>
                            </div>
                        </div>
                        <!-- // 상세 정보 테이블 영역 -->
                    </div>
                </div>
            </div>
            <!-- // 본문영역 -->
        </div>
        <!-- // Content -->
    </div>
</body>
</html>