<!DOCTYPE html>
<html>
<head>
    <title>TIIZ OCR Service</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <%include  ../common/commonLib_before.html%>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- file upload css -->
    <link rel="stylesheet" href="/common/css/fileupload/jquery.fileupload.css">
    <!-- // file upload css -->

    <link rel="stylesheet" href="css/user/uiLearning.css">
    <link rel="stylesheet" href="css/dropdown.css">

    <!-- multiFileUpload & form async js -->
    <script type="text/javascript" src="js/import/fileupload/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="js/import/fileupload/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="js/import/fileupload/jquery.fileupload.js"></script>
    <script type="text/javascript" src="js/import/jquery.form.min.js"></script>
    <!-- // multiFileUpload & form async js -->
    <!-- 공통 js -->
    <script type="text/javascript" src="js/common.client.js"></script>
    <!-- // 공통 js -->

    <script type="text/javascript" src="js/user/uiLearning.js"></script>

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="main">
        <div class="wrapper">
            <!-- Header -->
            <%include  ../common/header_before.html%>
            <!-- //Header -->
            <!-- Left Menu Side -->
            <%include ../common/leftSideBar_before.html%>
            <!--// Left Menu Side -->
            <!-- Content Wrapper -->
            <div class="content-wrapper">
                <section class="content-header">
                    <h1>UI 학습</h1>
                </section>
                <section class="content">
                    <!-- 저장소, 양식이미지, 양식 분석 상세-->
                    <div class="row">

                        <!-- 양식 이미지 -->
                        <div class="col-md-1" id="thumbnailDiv">
                            <div id="imageBox" class="box" style="height:760px; padding:0; margin:0;">
                                <!--<img class="thumb-img" src="../../uploads/tst1.jpg" />-->
                            </div>
                            <div class="box" style="height:40px; width:100%; text-align:center;">
                                <input type="button" id="thumb-total" value="전체" style="width:30px; margin:0 5px 0 0; padding:0;" />
                                <input type="button" id="thumb-prev" value="◀" style="width:30px; margin:0 5px 0 0; padding:0;" />
                                <input type="button" id="thumb-next" value="▶" style="width:30px; padding:0;" />
                            </div>
                        </div>
                        <div class="col-md-7" id="formImgDiv">
                            <div class="box" style="height:800px">
                                <div class="box-body02">
                                    <div id="imgHeader" class="box-header with-border">
                                        <h3 class="box-title">양식 이미지</h3>
                                    </div>
                                    <div class="dialog_wrap">
                                        <div id="uploadDiv">
                                            <b>파일을 업로드 해주세요</b><br />
                                            <form id="uploadFileForm" action="/uiLearning/uploadFile" method="post" enctype="multipart/form-data">
                                                <input type="file" id="uploadFile" name="file" value="upload" />
                                                <input id="uploadFileBtn" type="button" value="업로드">
                                            </form>
                                            <div id="ocrProgress">
                                                <div id="ocrBar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- //양식 이미지 -->
                        <!-- 양식 분석 상세 -->
                        <div class="col-md-4" id="formOcrDetailDiv">
                            <div class="box" style="height:800px">
                                <div class="box-body02">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">양식 분석 상세</h3>
                                    </div>
                                    <div class="tableDiv" style="max-height:600px; overflow:auto;">
                                        <table id="textResultTbl" border="1" style="width:100%;"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- //양식 분석 상세 -->
                    </div>
                    <!--// 저장소 -->
                </section>
            </div>
            <!--// Content Wrapper -->
            <!-- Header -->
            <%include  ../common/footer.html%>
            <!-- //Header -->
        </div>
    </div>
</body>
</html >
