<!doctype html>
<html lang="kr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <title alt="개별학습">KoreanRe OCR Service - 개별학습</title>

    <%include  ../common/commonLib.html%>

    <!-- file upload css -->
    <link rel="stylesheet" href="/common/css/fileupload/jquery.fileupload.css">
    <!-- // file upload css -->

    <link rel="stylesheet" href="css/dropdown.css">

    <!-- UI 학습 전용 js -->
    <link rel="stylesheet" href="css/user/uiLearning.css">
    <!-- // UI 학습 전용 js -->
    <!-- multiFileUpload & form async js -->
    <script type="text/javascript" src="js/import/fileupload/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="js/import/fileupload/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="js/import/fileupload/jquery.fileupload.js"></script>
    <script type="text/javascript" src="js/import/jquery.form.min.js"></script>
    <!-- // multiFileUpload & form async js -->
    <!-- 공통 js -->
    <script type="text/javascript" src="js/common.client.js"></script>
    <!-- // 공통 js -->
    <!-- UI 학습 전용 js -->
    <script type="text/javascript" src="js/user/uiLearning.js"></script>
    <!-- // UI 학습 전용 js -->
</head>
<body>
    <div id="mask"></div>

    <div id="wrap">
        <!--로딩바-->
        <div id="ocrProgress">
            <div id="ocrBarBg">
                <div id="ocrBar">
                    <span>1%</span>
                </div>
            </div>
            <!-- 호출하는 ajax에 따라 로딩바 이벤트를 호출 할 때 아래 progressMsgTitle, progressMsgDetail 메시지도 수정-->
            <div id="progressMsgTitle">
                <!-- 로딩바 바로 아래 메시지 -->
            </div>
        </div>
        <!--로딩바-->
        <!-- skip navi -->
        <div id="accessibility">
            <ul>
                <li><a href="#lnb">메뉴 바로가기</a></li>
                <li><a href="#container">본문으로 바로가기</a></li>
            </ul>
        </div>
        <!-- //skip navi -->
        <%include  ../common/header.html%>
        <!-- Content -->
        <div id="container">
            <!-- LNB -->
            <%include  ../common/leftSideBar.html%>
            <!-- // LNB -->
            <!-- 본문영역 -->
            <div id="content">
                <h2 class="subtit subtit_st01 blind"><span>청약서입력</span></h2>

                <!-- 양식이미지 업로드폼-->
                <div id="uploadForm" class="box_content_L">

                    <div class="st_infortext_01">
                        <span id="uploadInfoText" class="ui_uploadText">Drag & Drop files here</span>
                        <form id="uploadFileForm" action="" method="post" enctype="multipart/form-data">
                            <p class="attach_btn">
                                <input type="file" id="uploadFile" name="file" value="upload"/>
                                <label id="uploadFileBtn" for="customer_file">계산서 업로드</label>
                            </p>
                        </form>
                    </div>

                </div>
                <!-- 양식이미지 업로드폼-->
                <!-- 양식이미지 -->
                <div id="uploadSucessForm" style="display:none">
                    <div class="box_content_L box_content_bg">
                        <h3 class="tits"><span>양식이미지</span></h3>

                        <div class="imgtmb_b mCustomScrollbar" data-mcs-axis="yx" data-mcs-theme="dark-3">
                            <!--<img src="publish/image/sample02.jpg" alt="샘플이미지" />-->
                            <div id="img_content">

                            </div>
                        </div>

                        <div class="box_imgtmb">
                            <button type="button" id="thumb-prev" class="button_control button_control1"><span class="blind">왼쪽이동</span></button>
                            <div id="touchSlider">
                                <ul id="imageBox">
                                    <!--
                                    <li class="on">
                                        <div class="box_img"><i><img src="publish/image/sample02.jpg" title="샘플이미지"></i></div>
                                        <span>sample02.png</span>
                                    </li>
                                    <li>
                                        <div class="box_img"><i><img src="publish/image/sample01.jpg" title="샘플이미지"></i></div>
                                        <span>sample01.png</span>
                                    </li>
                                    -->
                                </ul>
                            </div>
                            <button type="button" id="thumb-next" class="button_control button_control2"><span class="blind">오른쪽이동</span></button>
                            <!--<button type="button" id="thumb-tot" class="button_control button_control3">전체</button>-->
                            <div id="count" class="count"><!--<span>1</span> / 3--></div>
                        </div>
                    </div>
                    <!-- // 양식이미지 -->
                    <!-- 양식분석상세 -->
                    <div class="box_content_R st_last">
                        <div class="box_content_bg">
                            <h3 class="tits11">
                                <span>문서 양식 예측<b id="docName"></b><b id="docPredictionScore"></b></span>
                            </h3>
                            <button type="button" id="docCompareBtn" class="tits11_btn01"></button>
                            <div class="btn_rt">
                                <button type="button" id="uiTrainBtn" class="button_st1">ADD Training</button>
                            </div>
                            <div class="table_style100">
                                <table>
                                    <caption>양식 분석 상세 정보</caption>
                                    <colgroup>
                                        <col style="width:54.5%" />
                                        <col style="width:5%" />
                                        <col style="width:42.5%" />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="row">추출 텍스트</th>
                                            <th scope="row">entry</th>
                                            <th scope="row">DB 컬럼</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="table_style100">
                                <div class="mCustomScrollbar box_scroll_st100" data-mcs-theme="dark-3">
                                    <div id="textResultTbl" class="box_table_st box_table_st04">
                                        <!--
                                        <dl>
                                            <dt>
                                                <label class="iclick">
                                                    <input type="text" name="intxt_0" id="intxt_001" class="inputst_box01" value="Your Contract Ref Your Contract Ref Your Contract Ref Your Contract RefYour Contract Ref" />
                                                </label>
                                                <span>99.999%</span>
                                            </dt>
                                            <dd>
                                                <div class="select_style">
                                                    <span class="ctrl"><span class="arrow"></span></span>
                                                    <button type="button" class="myValue">체크 테스트</button>
                                                    <ul class="aList">
                                                        <li><a href="#none">체크 테스트</a></li>
                                                    </ul>
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                <label class="">
                                                    <input type="text" name="intxt_0" id="intxt_01" class="inputst_box01" value="Your Contract Ref" />
                                                </label>
                                                <span>99.999%</span>
                                            </dt>
                                            <dd>
                                                <div class="select_style">
                                                    <span class="ctrl"><span class="arrow"></span></span>
                                                    <button type="button" class="myValue">계약번호</button>
                                                    <ul class="aList">
                                                        <li><a href="#none">계약번호</a></li>
                                                    </ul>
                                                </div>
                                            </dd>
                                        </dl>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- // 양식분석상세 -->
                </div>
            </div>
            <!-- // 본문영역 -->
        </div>
        <!-- // Content -->
        <!-- 팝업_문서비교레이어팝업 -->
        <div id="layer1" class="poplayer">
            <input type="hidden" id="ocrData" />
            <input type="hidden" id="docSid" />
            <input type="hidden" id="docType" />
            <input type="hidden" id="docPopImgPath" />
            <div class="bg"></div>
            <div class="pop_layer">
                <div class="pop_popup0 doc_popup">
                    <div class="pop_header">
                        <h1>문서 양식 조회 및 저장</h1>
                    </div>
                    <div class="tits22">
                        <div class="inputst_role">
                            <input type="radio" id="orgDocSearchRadio" value="1" class="custom" name="radio_batch" checked="checked" />
                            <label for="orgDocSearchRadio">기존문서 양식조회</label>
                            <input type="radio" id="newDocRegistrationRadio" value="2" class="custom" name="radio_batch" />
                            <label for="newDocRegistrationRadio">신규문서 양식등록</label>
                            <input type="radio" id="notInvoiceRadio" value="3" class="custom" name="radio_batch" />
                            <label for="notInvoiceRadio">계산서 아님</label>
                        </div>
                        <input type="text" name="orgDocName" id="orgDocName" class="inputst_box01 ui_doc_pop_ipt" value="" disabled />
                        <input type="text" name="newDocName" id="newDocName" class="inputst_box01 ui_doc_pop_ipt" value="" placeholder="신규문서명을 입력해 주세요" style="display:none" />
                        <input type="text" name="notInvoice" id="notInvoice" class="inputst_box01 ui_doc_pop_ipt" value="NotInvoice" placeholder="NotInvoice" disabled style="display:none" />
                        <button type="button" id="btn_pop_doc_cancel" class="ui_doc_pop_btn2 cbtn">취 소</button>
                        <button type="button" id="btn_pop_doc_run" class="ui_doc_pop_btn1 ml5">저장</button>
                    </div>
                    <div class="pop_content">
                        <div class="ui_doc_pop_div fl">
                            <div class="table_style03">
                                <table class="ui_layer1_tblHead" border="0">
                                    <colgroup>
                                        <col style="width: 10%;" />
                                        <col style="width: 90%;" />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" id="allCheckClassifySentenses"></th>
                                            <th>분류 제외문장</th>
                                        </tr>
                                    </thead>
                                </table>
                                <div class="mCustomScrollbar box_scroll_st101">
                                    <table class="ui_layer1_tbl_body">
                                        <colgroup>
                                            <col style="width: 10%;" />
                                            <col style="width: 90%;" />
                                        </colgroup>
                                        <tbody id="ui_layer1_result"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="ui_doc_pop_div fl center">
                            <div class="ui_doc_pop_div00">
                                <div class="ui_doc_pop_div01">
                                    <span>머신러닝 예측 문서</span>
                                    <input type="text" id="mlPredictionDocName" disabled="disabled">
                                </div>
                                <div class="ui_doc_pop_div01">
                                    <span>정확도</span>
                                    <input type="text" id="mlPredictionPercent" disabled="disabled">
                                </div>
                            </div>
                            <div id="originImgDiv" class="imgbox">

                            </div>
                        </div>
                        <div class="ui_doc_pop_div fr">
                            <div class="ui_doc_pop_div00">
                                <div class="ui_doc_pop_div01">
                                    <label class="searchIcon"></label>
                                    <input type="text" id="searchDocCategoryKeyword" class="ipt83" placeholder="검색할 단어를 입력해 주세요">
                                    <button type="button" id="searchDocCategoryBtn" class="ui_doc_pop_btn3">검색</button>
                                </div>
                                <div class="ui_doc_pop_div01">
                                    <input type="text" id="searchResultDocName" disabled="disabled">
                                </div>
                            </div>
                            <div id="docSearchResult" class="imgbox">

                            </div>
                            <button type="button" id="docSearchResultImg_thumbPrev" class="button_control10 button_control11" disabled="disabled"><span class="blind">왼쪽이동</span></button>
                            <button type="button" id="docSearchResultImg_thumbNext" class="button_control10 button_control12" disabled="disabled"><span class="blind">오른쪽이동</span></button>
                            <div id="docSearchResultImg_thumbCount" class="docSearchResultImg_count"><span id="countCurrent">1</span><span> / </span><span id="countLast"></span></div>
                            <div id="docSearchResultMask"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // 팝업_문서비교레이어팝업 -->
    </div>
    <!--
    <script type="text/javascript">
        layer_open('layer1');
    </script>
    -->
    
</body>
</html>