<!--
<header class="main-header">

    <a href="/userDashboard" class="logo">
        <span class="logo-mini"></span>
        <span class="logo-lg"></span>
    </a>

    <nav class="navbar navbar-static-top">

        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"><span class="sr-only">Toggle navigation</span> </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="user_id"> <strong>TIIZ_OCR 님</strong> </li>
                <li class="btn_set01">
                    <button id="userInfoPopupBtn" class="left_set" data-toggle="modal" data-target="#userInfoPopup"></button>
                </li>
                <li><a href="/logout" class="btn_log_out" style="margin-left: 5px;">로그아웃</a></li>
            </ul>
        </div>
    </nav>
</header>
-->

<header>
    <div id="header">
        <div id="lnb" class="lnb">
            <a href="/userDashboard" title="TIIZ OCR Service Web"><h1><span class="blind">TIIZ OCR Service Web</span></h1></a>
            <!-- GNB -->
            <div class="gnb_box">
                <div class="gnb_connectionday">
                    <dl>
                        <dt>최종접속일</dt>
                        <dd><%=currentUser.lastLoginDate%></dd>
                    </dl>
                </div>
                <div class="gnb_setting">
                    <a href="#" title="서비스설정">서비스 설정</a>
                </div>
                <% if(currentUser != null) { %>
                <div class="gnb_infor">
                    <a href="#" title="회원정보" onclick="layer_open('userInfoPop');return false;">
                        <span><%=currentUser.userId%></span>
                        <i class="tmb" style="background-image:url(/publish/image/man1.png);"></i>
                    </a>
                </div>
                <a href="/logout" title="로그아웃">
                    <div class="btn_logout">
                        <span class="blind">로그아웃</span>
                    </div>
                </a>
                <% } %>
            </div>
            <!-- // GNB -->
        </div>
    </div>
</header>

<!-- 팝업_회원 정보 -->
<div id="userInfoPop" class="poplayer">
    <div class="bg"></div>
    <div class="pop_layer">
        <div class="pop_popup0 pop_popup01">
            <div class="pop_header">
                <h1>회원정보</h1>
            </div>
            <div class="pop_content">
                <div class="pop_box_120 box_txt_st01">
                    <span>아이디</span>
                    <input type="text" name="" id" class="inputst_box01" value="" disabled="disabled" />
                    <span>기존 Password</span>
                    <input type="text" name="" id" class="inputst_box01" value="" disabled="disabled" />
                    <span>새로운 Password</span>
                    <input type="password" name="" id" class="inputst_box01" value="" />
                    <span>새로운 Password 확인</span>
                    <input type="password" name="" id" class="inputst_box01" value="" />
                </div>
            </div>
            <div class="pop_footer">
                <button type="button" id="btn_pop_batch_run" class="button_st1">확인</button>
                <button type="button" id="btn_pop_batch_close" class="button_st4 cbtn">취 소</button>
            </div>
        </div>
    </div>
</div>
<!-- //팝업_회원 정보 -->