<!DOCTYPE html>
<html>
<head>
    <title>TIIZ OCR Service</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <%include  ../common/commonLib.html%>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <style>
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="main">
        <div class="wrapper">
            <!-- Header -->
            <%include  ../common/header.html%>
            <!-- //Header -->
            <!-- Left Menu Side -->
            <%include ../common/leftSideBar.html%>
            <!--// Left Menu Side -->
            <!-- Content Wrapper -->
            <div class="content-wrapper">
                <section class="content-header">
                    <h1></h1>
                </section>

                <section class="content">

                </section>
            </div>
            <!--// Content Wrapper -->

            <!-- Header -->
            <%include  ../common/footer.html%>
            <!-- //Header -->
        </div>
    </div>
</body>
</html>
