<!--
<aside class="main-sidebar">
    <section class="sidebar">
        <div class="sidebar-form">
            <a href="#" class="left_set"><span class="sr-only">관리자설정바로가기</span></a>
        </div>

        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">사용자 메뉴<hr /></li>
            <li class="">
                <a href="/userDashboard"><i class="fa fa-dashboard"></i><span>대시보드</span></a>
            </li>
            <li class="">
                <a href="/ocrFormAnalysis"><i class="fa fa-dashboard"></i><span>OCR 양식분석</span></a>
            </li>
            <li class="">
                <a href="/adminLearning"><i class="fa fa-dashboard"></i><span>어드민 학습</span></a>
            </li>
            <li class="">
                <a href="/batchLearning"><i class="fa fa-dashboard"></i><span>배치 학습</span></a>
            </li>
            <li class="">
                <a href="/uiLearning"><i class="fa fa-dashboard"></i><span>UI 학습</span></a>
            <li class="">
                <a href="/ocrHistorySearch"><i class="fa fa-dashboard"></i><span>OCR 이력조회</span></a>
            </li>
            <li class="">
                <a href="/newDocLearning"><i class="fa fa-dashboard"></i><span>신규 문서 학습</span></a>
            </li>
            <li class="header"></li>
            <li class="header"></li>
            <li class="header"></li>
            <li class="header"></li>
            <li class="header"></li>
            <li class="header">관리자 메뉴<hr /></li>

            <li class="">
                <a href="/adminDashboard"><i class="fa fa-dashboard"></i><span>관리자 대시보드</span></a>
            </li>
            <li class="">
                <a href="/userManagement"><i class="fa fa-dashboard"></i><span>사용자 관리</span></a>
            </li>
        </ul>

    </section>
</aside>

<div class="control-sidebar-bg" style="max-height: 800px; top: 50px;"></div>

    <script>
        $(window).on('load', function () {
            //대시보드 active
            $('.sidebar-menu').find('i').each(function () {
                var menuName = $.trim($(this).next().text()).replace(/ /gi, "");
                var pageTitle = $.trim($('.content-header').text()).replace(/ /gi, "");
                if (menuName === pageTitle) {
                    $(this).parents('li').addClass('active');
                    return;
                }
            });
        });

    </script>
-->

<script type="text/javascript" src="js/leftsidebar.js"></script>

<h2 class="blind">LNB</h2>
<div class="lnb_menu">
    <h3>일반 사용자용 <span>메뉴</span></h3>
    <ul class="mb40 mt10">
        <!--<li><a href="/userDashboard" class="" title="대시보드"><span>대시보드</span></a></li>-->
        <li><a href="/invoiceRegistration" class="lnb_menu01" title="계산서 등록"><i class="lnb_menu_icon"></i><span class="lnb_menu_title">계산서 등록</span><span id="span_leftsidebar_ir" class="lnb_menu_count"></span></a></li>
        <li><a href="/myApproval" class="lnb_menu02" title="내 결재"><i class="lnb_menu_icon"></i><span class="lnb_menu_title">내 결재</span><span id="span_leftsidebar_ma" class="lnb_menu_count"></span></a></li>
        <li><a href="/uiLearning" class="lnb_menu03" title="개별 학습"><i class="lnb_menu_icon"></i><span class="lnb_menu_title">개별 학습</span></a></li>
        <li><a href="/batchLearning" class="lnb_menu04" title="일괄 학습"><i class="lnb_menu_icon"></i><span class="lnb_menu_title">일괄 학습</span></a></li>
        <!--<li><a href="/documentCheck" class="lnb_menu05" title="문서 조회"><i class="lnb_menu_icon"></i><span class="lnb_menu_title">문서 조회</span></a></li>-
        <li><a href="/invoiceProcessingStatus" class="lnb_menu06" title="계산서 처리 현황"><i class="lnb_menu_icon"></i><span class="lnb_menu_title">계산서 처리 현황</span></a></li>-->
    </ul>
    <%
    if(currentUser.admin == 'Y'){
    %>
    <h3>관리자용 <span>메뉴</span></h3>
    <ul class="mb40 mt10">
        <!--<li><a href="/adminDashboard" class="" title="관리자 대시보드"><span>관리자 대시보드</span></a></li>-->
        <li><a href="/userManagement" class="lnb_menu11" title="사용자관리"><i class="lnb_menu_icon"></i><span class="lnb_menu_title">사용자관리</span></a></li>
        <li><a href="/invoiceProcessingStatus" class="lnb_menu12" title="ICR관리"><i class="lnb_menu_icon"></i><span class="lnb_menu_title">ICR관리</span></a></li>
    </ul>
    <%
    }
    %>
    <!--
    <div class="btn_content_infor">
        <a href="#none" class="btn_st05 btn_reduction" title="메뉴작게보기">메뉴작게보기</a>
        <a href="#none" class="btn_st05 btn_expansion" style="display:none;" title="메뉴크게보기">메뉴크게보기</a>
    </div>

    -->

</div>

<!-- 로그인 사용자 정보 -->
<input type="hidden" id="userId" value="<%=currentUser.userId%>" />
<input type="hidden" id="scanApproval" value="<%=currentUser.scanApproval%>" />
<input type="hidden" id="icrApproval" value="<%=currentUser.icrApproval%>" />
<input type="hidden" id="middleApproval" value="<%=currentUser.middleApproval%>" />
<input type="hidden" id="lastApproval" value="<%=currentUser.lastApproval%>" />
<input type="hidden" id="adminApproval" value="<%=currentUser.admin%>" />

<script>
    $(window).on('load', function () {
        var pageTitle = $.trim($('title').attr('alt')).replace(/ /gi, "");
        $('.lnb_menu > ul > li').each(function (i, el) {
            var menuName = $.trim(el.childNodes[0].title).replace(/ /gi, "");
            if (menuName === pageTitle) {
                el.setAttribute('class', 'on');
                return;
            }
        });
    });
</script>